body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.toolbar {
    position:relative;
    margin: 1rem;
}

.toolbar p {
    display: inline-block;
}

#colIndicator {
    height: 5px;
    width:100%;
    position:absolute;
    top: 35px;
    border: 1px solid rgb(216, 216, 216);
    transition: height .15s;    
}

#colSelector p {
    width:35px;
}

#colSelector p:nth-child(3){
    width: 50px;
}



.toolbar:hover #colIndicator {
    height: 10px;
}

.redCol {
    color: red;
}

.blueCol {
    color: blue;
}   

.greenCol {
    color: green;
}

.tool {
    position:relative;
    display: inline-block;
    min-width: 50px;
    margin-left: 1rem;
}