body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.toolbar {
    position:relative;
    margin: 0.3rem;
}

.toolbar p {
    display: inline-block;
}

#hex {
    color: red;
    display: none;
}

#colIndicator {
    height: 5px;
    width:100%;
    position:absolute;
    top: 35px;
    border: 1px solid rgb(216, 216, 216);
    transition: height .15s;    
}

#colSelector p {
    width:35px;
}

#colSelector p:nth-child(3){
    width: 50px;
}

.toolbar:hover #colIndicator {
    height: 20px;
}

.toolbar:hover #hex {
    display: inline;
}

.redCol {
    color: red;
}

.blueCol {
    color: blue;
}   

.greenCol {
    color: green;
}

.hidden {
    display: none;
}

.tool {
    position:relative;
    display: inline-block;
    min-width: 50px;
    margin-left: 1rem;
}

#resetButton:hover .speech-bubble {
	position: relative;
	background: #00d394;
	border-radius: .4em;
}

#resetButton:hover .speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 36px solid transparent;
	border-bottom-color: #00d394;
	border-top: 0;
	margin-left: -36px;
	margin-top: -36px;
}